ncd-opcua.json
[{"id":"5718206396653d6c","type":"subflow","name":"ncd-opcua","info":"","category":"NCD","in":[{"x":140,"y":720,"wires":[{"id":"d231aa5da60c8bdf"}]}],"out":[{"x":1700,"y":620,"wires":[{"id":"953a540d8cebfffc","port":0}]}],"env":[],"meta":{"module":"ncd-to-opc-ua","type":"ncd-to-opc-ua","version":"0.0.1","author":"@ncd.io","desc":"ncd sensor to OPC-UA format","keywords":"ncd, opcua, nodered","license":"MIT"},"color":"#C0C0C0","icon":"node-red-contrib-opcua-server/icon.png","status":{"x":1800,"y":400,"wires":[{"id":"f13bd1b7e5c5bc22","port":0},{"id":"7ac6c920ac2d0c49","port":0},{"id":"7d8f0ddf7106c51b","port":0}]}},{"id":"803f759be1d5d144","type":"change","z":"5718206396653d6c","name":"setFolder_NCD","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"setFolder\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"ns=5;s=NCD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":480,"wires":[["b53427c98df07daa","c1420009eb352e55"]]},{"id":"c5085625c306374d","type":"change","z":"5718206396653d6c","name":"setFolder_sensorName","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"setFolder\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":560,"wires":[["5ee03f80db28f8b9","1946fd60fb9a86f8"]]},{"id":"8c55d1634b1651f0","type":"function","z":"5718206396653d6c","name":"updatePayloadValues","func":"const object = msg.payload;\nlet id = msg.data.original.mac;\n/* Struct to upgrade variable values */\nfor (let property in object) {\n    msg = {\n        payload : {\n        messageType:\"Variable\",\n        variableName: id +\".\" + property,\n        datatype: \"Float\",\n        namespace: 5,\n        variableValue: object[property]\n        }\n    }\n    node.send(msg);\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":760,"wires":[["c56f7a01f70a1e43"]]},{"id":"281e661dcc4aa158","type":"function","z":"5718206396653d6c","name":"splitPayload","func":"/* send asynchronous each payload variable \nadd variables per each property */\nconst object = msg.payload;\nconst mac = msg.data.original.mac;\n/* Iterate each payload property */\nfor (let property in object) {\n  msg = {\n    key : property,\n    value : object[property],\n    \"mac\": mac\n  };\n  node.send(msg);\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":700,"wires":[["d440d0f336892d84"]]},{"id":"8ff5700828368c8e","type":"change","z":"5718206396653d6c","name":"addVariable","rules":[{"t":"set","p":"mac","pt":"msg","to":"$substring(mac, 12)","tot":"jsonata"},{"t":"set","p":"mac","pt":"msg","to":"$replace(mac,\":\",\"\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"addVariable\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"\"ns=5;s=\"&(mac)&\".\"&(key)&\";datatype=Float;value=\"&(value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":700,"wires":[["b84d018dbf98f745"]]},{"id":"aa70195a2f9a2e1e","type":"change","z":"5718206396653d6c","name":"addFolder_MACAddr","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"addFolder\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"\"ns=0\"&\";s=\"&(data.original.mac)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":600,"wires":[["3fb44fe27ea2cf5d","c07d0666748fdd61"]]},{"id":"a5b3077a8856bc0e","type":"change","z":"5718206396653d6c","name":"setFolder_MACAddr","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"setFolder\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":640,"wires":[["3f5947bcf72e6717"]]},{"id":"96e5e7470ac6624b","type":"delay","z":"5718206396653d6c","name":"Delay before build opc struct","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":865,"y":700,"wires":[["281e661dcc4aa158"]],"l":false},{"id":"3fb44fe27ea2cf5d","type":"delay","z":"5718206396653d6c","name":"delay","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":925,"y":640,"wires":[["a5b3077a8856bc0e"]],"l":false},{"id":"5ee03f80db28f8b9","type":"delay","z":"5718206396653d6c","name":"delay","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":925,"y":600,"wires":[["aa70195a2f9a2e1e"]],"l":false},{"id":"80737c510b72a481","type":"delay","z":"5718206396653d6c","name":"delay","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":925,"y":560,"wires":[["c5085625c306374d"]],"l":false},{"id":"b53427c98df07daa","type":"delay","z":"5718206396653d6c","name":"delay","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":925,"y":520,"wires":[["5713936fb9c72266"]],"l":false},{"id":"5713936fb9c72266","type":"change","z":"5718206396653d6c","name":"addFolder_sensorName","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"addFolder\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"\"ns=5\"&\";s=\"&(data.sensor_name)&\"_S\"&$flowContext(\"$parent.countMAC\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":520,"wires":[["80737c510b72a481","ae9b18320f36222b"]]},{"id":"c07d0666748fdd61","type":"link out","z":"5718206396653d6c","name":"link out 58","mode":"link","links":["953a540d8cebfffc"],"x":1245,"y":600,"wires":[]},{"id":"953a540d8cebfffc","type":"link in","z":"5718206396653d6c","name":"link in 20","links":["c07d0666748fdd61","1946fd60fb9a86f8","ae9b18320f36222b","c1420009eb352e55","3f5947bcf72e6717","b84d018dbf98f745","c56f7a01f70a1e43","31b5370dc77548d9"],"x":1645,"y":620,"wires":[[]]},{"id":"1946fd60fb9a86f8","type":"link out","z":"5718206396653d6c","name":"link out 59","mode":"link","links":["953a540d8cebfffc"],"x":1245,"y":560,"wires":[]},{"id":"ae9b18320f36222b","type":"link out","z":"5718206396653d6c","name":"link out 60","mode":"link","links":["953a540d8cebfffc"],"x":1245,"y":520,"wires":[]},{"id":"c1420009eb352e55","type":"link out","z":"5718206396653d6c","name":"link out 61","mode":"link","links":["953a540d8cebfffc"],"x":1245,"y":480,"wires":[]},{"id":"3f5947bcf72e6717","type":"link out","z":"5718206396653d6c","name":"link out 62","mode":"link","links":["953a540d8cebfffc"],"x":1245,"y":640,"wires":[]},{"id":"b84d018dbf98f745","type":"link out","z":"5718206396653d6c","name":"link out 63","mode":"link","links":["953a540d8cebfffc","f729f0c3900dc92b"],"x":1295,"y":700,"wires":[]},{"id":"c56f7a01f70a1e43","type":"link out","z":"5718206396653d6c","name":"link out 64","mode":"link","links":["953a540d8cebfffc","f729f0c3900dc92b"],"x":1245,"y":760,"wires":[]},{"id":"80f7ac87ebccb2a4","type":"function","z":"5718206396653d6c","name":"manageMAC&Item","func":"flow.set('bussy', true);\nvar newMAC = msg.data.original.mac;\nvar count = flow.get(\"$parent.countMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"$parent.MAC[\"+index+\"]\")[0]; // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        msg.newDevice = false; // known sensor\n        return msg;\n    }\n}\n// if new MAC is arrive\nmsg.newDevice = true; // new sensor\nflow.set(\"$parent.MAC[\"+count+\"]\", [newMAC, msg.data.sensor_type]); // Save array [MAC, TYPE]\ncount++;\nflow.set(\"$parent.countMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":700,"wires":[["02cbbac476f7f15f"]]},{"id":"dcdd06fba6bbf78c","type":"change","z":"5718206396653d6c","name":"registerNamespace","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"opcuaCommand\":\"registerNamespace\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"www.ncd.io","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":360,"wires":[["31b5370dc77548d9","e85e1906bec77021"]]},{"id":"5e3cb0ea5157fc9e","type":"change","z":"5718206396653d6c","name":"CreateObject","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"opcuaCommand\": \"addFolder\" }","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"ns=5;s=NCD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":400,"wires":[["31b5370dc77548d9","f13bd1b7e5c5bc22"]]},{"id":"4c9f0d31953cc39b","type":"inject","z":"5718206396653d6c","name":"wait for server (2s)","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":930,"y":360,"wires":[["3c45b60f7a3c6e7f","dcdd06fba6bbf78c"]]},{"id":"3c45b60f7a3c6e7f","type":"function","z":"5718206396653d6c","name":"deleteFlowsContext","func":"flow.set('$parent.MAC', undefined);\nflow.set('$parent.countMAC', undefined);\nflow.set('bussy', undefined);\n","outputs":0,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":320,"wires":[]},{"id":"31b5370dc77548d9","type":"link out","z":"5718206396653d6c","name":"link out 65","mode":"link","links":["953a540d8cebfffc"],"x":1475,"y":360,"wires":[]},{"id":"02cbbac476f7f15f","type":"switch","z":"5718206396653d6c","name":"newDevice?","property":"newDevice","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":700,"wires":[["96e5e7470ac6624b","45856061cbfb80eb"],["6286b105a8986ef1"]]},{"id":"f13bd1b7e5c5bc22","type":"function","z":"5718206396653d6c","name":"ReadyStatus&ReleaseBussyFlag","func":"flow.set('bussy', false);\nmsg.payload = ({fill: \"green\",text:\"Ready\"});\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":400,"wires":[[]]},{"id":"7ac6c920ac2d0c49","type":"function","z":"5718206396653d6c","name":"ResetStatus","func":"msg.payload = ({ fill: \"red\", text: \"Waiting\" });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":360,"wires":[[]]},{"id":"c92fdc4ba257a03c","type":"inject","z":"5718206396653d6c","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","x":1565,"y":360,"wires":[["7ac6c920ac2d0c49"]],"l":false},{"id":"7d8f0ddf7106c51b","type":"function","z":"5718206396653d6c","name":"SentStatus","func":"msg.payload = ({ fill: \"yellow\", text: \"Sending\" });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":440,"wires":[[]]},{"id":"e71771a1d59ca26c","type":"delay","z":"5718206396653d6c","name":"Bussy delay 4s","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":475,"y":760,"wires":[["d231aa5da60c8bdf"]],"l":false},{"id":"d231aa5da60c8bdf","type":"switch","z":"5718206396653d6c","name":"proccessIsBussy?","property":"bussy","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":720,"wires":[["80f7ac87ebccb2a4","7b145a940b08c765"],["e71771a1d59ca26c"]]},{"id":"6286b105a8986ef1","type":"change","z":"5718206396653d6c","name":"cutMAC","rules":[{"t":"set","p":"data.original.mac","pt":"msg","to":"$substring(data.original.mac, 12)","tot":"jsonata"},{"t":"set","p":"data.original.mac","pt":"msg","to":"$replace(data.original.mac, \":\",\"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":760,"wires":[["8c55d1634b1651f0"]]},{"id":"7b145a940b08c765","type":"link out","z":"5718206396653d6c","name":"link out 66","mode":"link","links":["13f04fdd236c94d0"],"x":475,"y":660,"wires":[]},{"id":"13f04fdd236c94d0","type":"link in","z":"5718206396653d6c","name":"link in 21","links":["7b145a940b08c765"],"x":1565,"y":440,"wires":[["7d8f0ddf7106c51b"]]},{"id":"f729f0c3900dc92b","type":"link in","z":"5718206396653d6c","name":"link in 22","links":["b84d018dbf98f745","c56f7a01f70a1e43"],"x":1415,"y":440,"wires":[["f13bd1b7e5c5bc22"]]},{"id":"e85e1906bec77021","type":"delay","z":"5718206396653d6c","name":"delay","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1225,"y":400,"wires":[["5e3cb0ea5157fc9e"]],"l":false},{"id":"d440d0f336892d84","type":"delay","z":"5718206396653d6c","name":"Delay before build opc struct","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1075,"y":700,"wires":[["8ff5700828368c8e"]],"l":false},{"id":"b67d1ac44683b552","type":"complete","z":"5718206396653d6c","d":true,"name":"","scope":[],"uncaught":false,"x":1180,"y":860,"wires":[[]]},{"id":"45856061cbfb80eb","type":"junction","z":"5718206396653d6c","x":880,"y":480,"wires":[["803f759be1d5d144"]]},{"id":"2a1cd11093bd2df4","type":"subflow:5718206396653d6c","z":"ac2eb61d98ecd44d","name":"","x":850,"y":1500,"wires":[[]]}]
